# Ignore Visual Studio temporary files
.vs/
*.vscode/
*.user
*.suo
*.log

# Ignore build outputs
bin/
obj/

# Ignore file history
*.vshistory/

# Ignore environment files
.env
*.env
App.config
StringProcessingApp/App.config
**/App.config